*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}   
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;

}
a{
    text-decoration: none;
    color: #555;
    font-size: 14px;
    transition: color 0.3s;
}
p{
    color: #555;
    font-size: 14px;
    line-height: 1.6;
    margin: 20px 0;
}
.container{
    max-width: 1400px;
    margin: auto;
    padding: 0 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding: 50px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2  h1{
    font-size: 50px;
    line-height: 60px;
    margin:20px 0;
    color: #333;
}
.btn{
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 30px;
    transition: background-color 0.3s;
}
.btn:hover{
    background-color: #563434;
}
.header{
    background:radial-gradient(#fff,#ffd6d6) ;
}
.categories{
    margin: 70px 0;
}
.categories .col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    text-align: center;
}
.categories .col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}
.col-4{
    flex-basis: 25%;
    min-width: 250px;
    margin-bottom: 30px;
    padding: 10px;
    transition: 0.3s;
}
.col-4 img{
    width: 100%;
}
.col-4 h4{
    margin: 10px 0;
    color: #333;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background-color: #ff523b;
    width: 80px;
    height: 4px;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    border-radius: 2px;
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.ratting .fa{
    color: #ff523b;
    font-size: 14px;
}
.col-4:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff,#ffd6d6) ;
    margin-top: 80px;
    padding: 30px 0;
}
.offer .col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding: 0 20px;;
}


.offer .col-2 img{
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.offer .col-2 img:hover{
    transform:  translateY(-15px);
}

small{
    color: #555;
    font-size: 14px;
}

/* testimonial */

.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    width: 300px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.5s;
}
.testimonial .col-3 img{
    width: 70px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-14px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color:#777;
}
 .testimonial .col-3 h3{
    font-weight: 600px;
    color: #555;
    font-size: 16px;
 }     

 /* brands */
  .brands{
    margin: 100px auto;
  }
  .col-5{
    width: 160px;
  }
  .col-5 img{
    width:100%;
    cursor:pointer;
    filter: grayscale(100%);
  }
  .col-5 img:hover{
    filter: grayscale(0);
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1 .footer-col-2 .footer-col-3 .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
/* .footer-col-1{
    flex-basis: 30%;
} */
.footer-col-2{
    text-align: center;
    margin-left: 0;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3 .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 120px;
    cursor: pointer;
}
.footer hr{
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

 /* All products page */
   .row-2{
    margin-bottom: 30px;
   }
   .row .row-2{
    justify-content: space-between;
    margin:100px auto 50px;
   }
   select{
    border: 1px solid #ff523b;
    padding: 5px;
   }
   select:focus{
    outline: none;
   }
   .page-btn{
    margin: 0 auto 80px ;
   }
   .page-btn span{
    display: inline-block;
    border: 1px  solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
   }
   .page-btn span:hover{
       background-color: #ff523b;
       color: #fff;
   }

/* single product image */
   
  .single-product{
    margin-top: 80px;
  }
  .single-product .col-2{
    padding: 20px;
  }
  .single-product .col-2 img{
    padding: 0;
  }
 .single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
 }
 .single-product select{
    display:block;
    padding: 10px;
    margin-top: 20px;
 }
 .single-product input{
    width: 40px;
    height:30px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 5px;
    border: 1px solid #ff523b; 
 }
 input:focus{
    outline:none;
 }
 .single-product .fa{
    color: #ff523b;
    margin-top: 10px;
 }
 .small-img-row{
    display: flex;
    justify-content: space-between;
 }
 .small-img-col{
    flex-basis: 24%;
    cursor: pointer;
 }
  .col-2 .btn{
    margin-bottom: 15px;
 }
  
 /* cart item details  */

 .cart-paage{
    margin: 80px auto;
 }
 table{
   width: 100%;
   border-collapse: collapse;
 }
 .cart-info{
    display: flex;
    flex-wrap: wrap;
 }
 th{
    text-align: left;
    padding: 5px;
    color: #fff ;
    background: #ff523b;
    font-weight: normal ;
 }
 td{
    padding: 10px 5px;
 }
 td input{
    width: 40px;
    height: 30px;
    padding: 5px;
 }
 td a{
    color: #ff523b ;
    font-size: 12px;
 }
 td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
 }
 .total-price{
    display: flex;
    justify-content: flex-end;
 }

 .total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
 }
 td:last-child{
    text-align: right;
 }
 th:last-child{
    text-align: right;
 }
 
/* account page */

.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}
.form-container{
    background: #fff ;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin:auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1) ;
}

.form-container span{
    font-style: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px ; 
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#loginForm{
     left: -300px;    
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top:8px;
    transform: translateX(100px);
}





/* media query  for menu */
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top:70px;
        right:20px;
        background:#333;
        width: 100%;
        text-align: center;
        overflow: hidden;
        transition: max-height 0.5s ;  
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .testimonial .col-3{
     margin: 13px;
        
    }
    /* media query for less then 600 screen size */
    @media only screen and (max-width:600px) {
        .row{
            text-align: center;
        }
        .col-2 .col-3  .col-4{
            flex-basis: 100%;
        }
        .single-product .row{
            text-align: left;
        }
       .single-product .col-2{
        padding: 20px 0;
       }
       .single-product h1{
        font-size: 26px;
        line-height: 22px;
       }
       .cart-info p{
        display: none;
       }
    
}